*.class
rscd.jar
.metadata
.recommenders
.DS_Store
firescape-server/players/*.cfg
*.log
.svn
*.pem
.env
/server/nbproject/private/
/server/build/
/server/dist/
/client/nbproject/private/
/client/build/
/client/dist/
/Launcher/nbproject/private/
/RSC Map Generator/nbproject/private/
/Tools/Sprite Editor/build/
/Tools/Sprite Editor/dist/
/Tools/Sprite Editor/nbproject/private/
/Map Generator/nbproject/private/
/Client/nbproject/private/
/Server/nbproject/private/
/Tools/Launcher/nbproject/private/
/Server/dist/
/Server/build/
/Client/dist/
/Client/build/